@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Poppins:ital,wght@0,400;1,300&family=Roboto+Condensed:wght@500&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: "poppins", sans-serif;
}

/* ---------------------------NavBar---------------------------- */
               /* ------------Navbar-Logo----------------- */
.hidden {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  display: inline-block;
}

.logo span {
  font-size: 30px;
  height: 40px;
  margin-top: 3px;
  margin-left: 10px;
}

.logo a {
  font-size: 30px;
  color: black;
}

.navbar-brand.scorlled .logo-spantext {
  color: white;
}

/* ---------------------Navbar-Logo-End------------------------ */
.navbar {
  background-color: white;
  color: black;
  transition: color 0.4s ease-in-out;
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.7);
  transition: color 0.4s ease-in-out;
}

.navbar.scrolled .navbar-nav a {
  font-weight: 500;
  color: white;
}

.navbar.scrolled .logo-spantext {
  color: white;
}

.navbar-nav a {
  color: #17a2b8;
  transition: color 0.4s ease-in-out;
  background: transparent !important;
}

.nav-item a {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

.nav-item a:hover {
  color: #17a2b8;
}

.nav-link {
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
}

.navbar-nav a:hover {
  border-bottom: 2px solid #17a2b8;
  transition: 0.1s;
}

.navbar-nav li {
  margin: 5px;
  justify-content: space-between;
  }

.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-brand {
  color: #0000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: #0000;
}

.navbar-nav .navbar-link {
  color: #0000;
}

.w-100 {
  height: 100vh;
}

.navbar-toggler {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

@media only screen and(max-width:767px) {
  .navbar {
    position: fixed;
  }
  .navbar.scrolled .navbar-nav li {
    background: rgba(0, 0, 0, 0.7) !important;
    transition: color 0.4s ease-in-out;
    }

  .navbar.scrolled .navbar-nav li a {
    font-weight: 500;
    color: #17a2b8;
    }

  .navbar-nav {
    text-align: center;
  }
  .navbar-collapse {
    background: rgba(0, 0, 0, 0.7);
  }
  .nav-link a:hover {
    background-color: #17a2b8;
    }

  .navbar-toggler {
    width: 50%;
    height: 50%;
  }

  .carousel-caption h5 {
    font-size: 14px;
  }

  .carousel-caption a {
    padding: 10px 15px;
  }

  .carousel-caption p {
    line-height: 1.6;
    font-size: 12px;
  }
}

@media only screen and (min-width: 375px) {
  .navbar {
    position: fixed;
  }
  .navbar-toggler .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }
  .carousel-caption p {
    width: 100%;
    line-height: 1.4;
    font-size: 10px;
    margin: auto;
  }
}

/*------------- slider------------------ */

.carousel-caption {
  top: 45%;
  text-transform: uppercase;
  text-align: left;
  bottom: 200px;
  z-index: 2;
  transform: translateY(-40%);
  -webkit-animation-name: posi;
  -webkit-animation-duration: 2s;
  animation-name: posi;
  animation-duration: 2s;
  z-index: 1;
}

@-webkit-keyframes posi {
  from {
    right: 25%;
  }

  to {
    right: 15%;
  }
}

@keyframes posi {
  from {
    right: 25%;
  }

  to {
    right: 15%;
  }
}

.carousel-item img {
  transform: scale(1.5, 1.5);
  -webkit-animation-name: zoomin;
  -webkit-animation-duration: 40s;
  animation-name: zoomin;
  animation-duration: 40s;
}

@-webkit-keyframes zoomin {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.5, 1.5);
  }
}

@keyframes zoomin {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.5, 1.5);
  }
}

.carousel-caption h5 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-weight: 700;
}

.span {
  font-weight: 700;
  font-size: 60px;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1;
}

.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.carousel-caption > button {
  padding: 10px;
  width: 200px;
  margin: 20px;
  color: white;
  background: transparent;
  border-radius: 15px 50px;
  font-weight: bold;
}

.carousel-control-prev-icon {
  color: black;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 50px;
  padding: 15px;
  cursor: pointer;
  color: #17a2b8;
  transition: 0.1s;
  user-select: none;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: #00a7ff;
}

@media only screen and(min-width:767px) and (max-width: 1024px) {
  .carousel-caption {
    top:55%;
    bottom: 120px;
  }
  .carousel-caption h5 {
    font-size: 40px;
    margin-top: 15px;
    font-weight: 500;
  }
  .carousel-caption p {
    width: 100%;
  }
}


@media only screen and (min-width: 320px) and (max-width: 376px) {
    .span{
        font-size: 50px;
    }
    .carousel-caption {
      top: 50%;
      transform: translateY(-50%);
      padding-bottom: 10%; 
    }
  
    .carousel-caption h5 {
      font-size: 20px;
      margin-top: 10px; 
      font-weight: 500;
    }
  
    .carousel-caption p {
      width: 100%;
      line-height: 1.4;
      font-size: 12px; 
      margin: auto;
    }
  
    .carousel-caption > button {
      width: 150px; 
      font-size: 12px; 
    }
  }
  
/* --------------------Why Choose Us?---------------- */
#why {
  background-image: url("/image/slide1.jpg");
}

#why p {
  font-size: 12px;
}

#why h3 {
  font-size: 20px;
}

.card-body {
  height: 50vh;
}

/*------------------- About Us--------------- */
#about {
  margin-top: 30px;
}
#about img {
  margin-top: 25px;
  }

#about h2 {
  font-size: 40px;
}

#about span {
  font-weight: bold;
  font-size: 40px;
}

#about p {
  color: #333;
  font-size: 14px;
  text-align: justify;
}

#about button {
  margin: 15px;
  padding: 15px;
  border-radius: 15px 50px;
  border: 2px solid #17a2b8;
}

@media (min-width: 320px) and (max-width: 480px) {
  #about button {
    font-weight: bold;
    margin: 15px;
    padding: 15px;
    border-radius: 15px 50px;
    border: 2px solid #17a2b8;
  }
}

#about button:hover {
  color: white;
  background-color: #17a2b8;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.2);
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* **************************SERVICES************************** */

.section-title h2 {
  font-size: 30px;
}

.section-title strong {
  font-size: 50px;
}

#services .section-title p {
  font-weight: bold;
  font-size: 18px;
}

#services h2 {
  font-weight: bold;
  font-size: 40px;
}

#services h3 {
  font-weight: bold;
  font-size: 25px;
}

#services .icon-box {
  text-align: center;
  border: 1px solid #e2eefd;
  padding: 40px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

#services .icon-box p {
  text-align: justify;
  hyphens: auto;
}

#services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #f1f6fe;
  border-radius: 4px;
  border: 1px solid #deebfd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

#services .icon-box .icon i {
  color: black;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

#services .icon-box:hover,
#services .icon-box .icon i:hover {
  color: #17a2b8;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

#services .icon-box h4 a {
  color: #17a2b8;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

#services .icon-box h4 a {
  color: #222222;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

#services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

#services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(16, 110, 234, 0.1);
}

#services .icon-box:hover h4 a,
#services .icon-box:hover .icon i,
#services .icon-box p:hover {
  color: #17a2b8;
}

#services .icon-box:hover .icon {
  border-color: #17a2b8;
}

/*--------------------------------------------------------------
# projects
--------------------------------------------------------------*/
#projects {
  margin-top: 30px;
}
#projects .btn {
  font-weight: bold;
  margin: 15px;
  padding: 15px;
  border-radius: 15px 50px;
  color: white;
}

#projects .btn:hover {
  border: 1px solid white;
  color: black;
  background-color: white;
}

#projects img {
  border-radius: 15px 50px;
  height: 200px;
  transition: 1s;
  padding: 10px;
}

.inner {
  overflow: hidden;
  margin-bottom: 15px;
}

#projects .card img:hover {
  border-radius: 15px 50px;
 }

#projects p {
  font-size: 14px;
}

#projects h2 {
  font-size: 40px;
  font-weight: bold;
}

/*-------------------- clients---------------------------*/
.clients {
  padding: 15px 0;
  text-align: center;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.clients img:hover {
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}

/*--------------------------- Testimonial------------------------ */
#testimonial .card {
  height: 60vh;
}
@media (max-width: 850px) {
  #testimonial .card {
    height: 40vh;
  }
}
@media (max-width: 600px) {
  #testimonial .card {
    height: 45vh;
  }
}
@media (max-width: 480px) {
  #testimonial .card {
    height: 50vh;
  }
}

/*-------------------- Contact section------------------------------ */
#contact h2 {
  font-size: 40px;
}

.form {
  box-shadow: 0 0 30px rgba(34, 154, 190, 0.4);
  padding: 30px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.form-group.success input {
  border-color: #18d26e;
}

.form .error-message br + br {
  margin-top: 25px;
}

.form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.form .form-group {
  margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group textarea[type="textarea"] {
  border-radius: 25px;
  font-size: 14px;
}

.form-group input[type="text"]:focus,
.form-group textarea[type="textarea"]:focus {
  border-color: #17a2b8;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(95, 204, 201, 0.5);
}

.form-group input {
  padding: 10px 15px;
}

.form-group textarea {
  padding: 12px 15px;
}

.form-group button[type="submit"] {
  background: white;
  border-color: #17a2b8;
  padding: 10px 30px;
  color: black;
  transition: 0.4s;
  border-radius: 25px;
}

.form-group button[type="submit"]:hover {
  background: #17a2b8;
  color: white;
  font-weight: bold;
}

/*------------------------ Footer section------------------------------ */
.footer {
  background-color: black;
  color: #17a2b8;
}

.footer h3 {
  font-size: 40px;
}

.footer h4 {
  position: relative;
  display: inline-block;
}

.footer h4::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: white;
}

.footer-links ul li {
  list-style: none;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-links h2,
a {
  color: white;
}

.footer-links a:hover {
  color: #17a2b8;
}

.social-links i {
  color: white;
}

